.logo {
  padding: 10px;
  max-width: 100%;
  height: auto;
  position: relative;
}

.sm {
  max-width: 150px;
}

.md {
  max-width: 300px;
}

.lg {
  max-width: 500px;
}

.xl {
  max-width: 750px;
}
