.button {
  display: flex;
  align-items: center;
  vertical-align: middle;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  text-decoration: underline;
  font-weight: 600;
}
.rd {
  border-radius: 30px !important;
}
.sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
}
.md {
  padding: 0.34rem 0.68rem !important;
  font-size: 1.05rem !important;
}
.lg {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
}

.button:hover {
  text-decoration: none;
}
