.button {
  display: flex;
  align-items: center;
}
.rd {
  border-radius: 20px !important;
}
.sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
}
.md {
  padding: 0.34rem 0.68rem !important;
  font-size: 1.05rem !important;
  vertical-align: middle;
}
.lg {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  vertical-align: middle;
}
