.sm {
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem !important;
  vertical-align: middle;
}
.md {
  padding: 0.34rem 0.68rem !important;
  font-size: 1.05rem !important;
  vertical-align: middle;
}
.lg {
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem !important;
  vertical-align: middle;
}
