@import "../sass/helpers/mixins";

.card {
  @include media-query(1399px) {
    padding: 10px;
  }

  @include media-query(991px) {
    margin-bottom: 20px;
  }

  @include media-query(767px) {
    display: flex;
    align-items: center;
  }

  @include round-box-shadow(rgba(0, 4, 88, 0.1), 0.625rem, 0rem);

  @include rounded-border(15px);
}
